{% extends '_base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block Title %}Login{% endblock Title %}

{% block content %}
    <div class="d-flex justify-content-center mt-5" dir="rtl">
        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow">
            <form action="" method="post">
                {% csrf_token %}
                <div style="text-align: center;">
                    <img alt="" src="{% static 'images/insta.png' %}">
                </div>
                    {{ form|crispy }}
                <div class="d-flex justify-content-center align-items-center">
                    <div class="mt-2">
                        <a class="text-decoration-none" href="#">?Forgot password</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3 w-100">Login</button>
            </form>
        </div>
    </div>
    <div class="d-flex justify-content-center" dir="rtl">
        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-1 bg-white m-3 m-sm-0 border rounded px-4 pt-4 pb-3 shadow d-flex justify-content-center">
            <a class="text-decoration-none" href="{% url 'signup' %}"><span>Sign up</span></a> ?Don't have an account
        </div>
    </div>
{% endblock content %}